html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box !important;
}
html {
  background-color: #effde4;
  font-size: 62.5%;
}
#home {
  height: 100%;
  font-family: "Merriweather", sans-serif;
  color: #222;
  font-size: 1.6rem;
  background-image: linear-gradient(to right, #301149 0%, #0e63a8 50%, #301149 100%);
}
/*****Header Navigation*****/
.navigation {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: nowrap;
  font-size: 1.7em;
  padding: 1.5% 0;
}
@media (max-width: 500px) {
  .navigation {
    font-size: 0.7em;
  }
}
@media (max-width: 950px) {
  .navigation {
    font-size: 0.7em;
  }
}
.navigation .hdnav a,
.navigation .account a {
  border: 5px outset indigo;
  padding: 15px 40px;
  border-radius: 30%;
  background: linear-gradient(to top, #4ec2f7 0%, #174e6d 100%);
  color: white;
}
@media (max-width: 500px) {
  .navigation .hdnav a,
  .navigation .account a {
    border: 2px outset silver;
    background: linear-gradient(to top, #210350 0%, #b085e9 100%);
    padding: 5px;
    color: snow;
  }
}
@media (max-width: 950px) {
  .navigation .hdnav a,
  .navigation .account a {
    border: 2px outset silver;
    background: linear-gradient(to top, #210350 0%, #b085e9 100%);
    padding: 5px;
    color: snow;
  }
}
.navigation .hdnav a:hover,
.navigation .account a:hover {
  background: linear-gradient(to top, #210350 0%, #b085e9 100%);
  color: snow;
  border: 7px inset silver;
}
@media (max-width: 500px) {
  .navigation .hdnav a:hover,
  .navigation .account a:hover {
    border: 2px inset indigo;
    background: linear-gradient(to top, #4ec2f7 0%, #174e6d 100%);
    padding: 5px;
    color: white;
  }
}
@media (max-width: 950px) {
  .navigation .hdnav a:hover,
  .navigation .account a:hover {
    border: 2px inset indigo;
    background: linear-gradient(to top, #4ec2f7 0%, #174e6d 100%);
    padding: 5px;
    color: white;
  }
}
/***Take Quiz Button***/
#takequiz {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 33.4%;
  font-size: 7rem;
  text-align: center;
  margin: 0 33.3% 10%;
  padding: 25px 15px;
  font-weight: bold;
  border-radius: 50% 2% 50%;
  border: 5px outset black;
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}
@media (max-width: 500px) {
  #takequiz {
    width: 100%;
    font-size: 3rem;
    margin: 0;
  }
}
@media (max-width: 950px) {
  #takequiz {
    width: 100%;
    font-size: 3rem;
    margin: 0;
  }
}
#takequiz:hover {
  border: 7px inset silver;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}
h1 {
  font-family: "Alfa Slab One", sans-serif;
  color: #651186;
  font-size: 6rem;
  margin: 80px 0 20px 0;
  text-align: center;
}
@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-family: "Merriweather", sans-serif;
  color: #222;
  font-size: 4rem;
  padding: auto;
  text-align: center;
  margin: 30px 0 0 0;
  line-height: 1.7em;
}
@media (max-width: 500px) {
  h2 {
    font-size: 3rem;
  }
}
p {
  line-height: 1.3;
  font-family: "Merriweather", sans-serif;
  color: #651186;
}
.hdtxt {
  text-shadow: 0 0 15px #ffffff;
  z-index: 99;
  margin: 0px 0 75px 0;
  padding: 20px 0;
  text-align: center;
}
.hdtxt p {
  font-size: 1.4em;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  align-content: center;
}
@media (max-width: 500px) {
  .hdtxt p {
    font-size: 1em;
  }
}
.p1,
.p2a,
.p2b,
.p3 {
  border: 5px outset #ad15b3;
  padding: 1.5%;
  background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
  color: snow;
}
.p1:hover,
.p2a:hover,
.p2b:hover,
.p3:hover {
  border: 5px inset #ad15b3;
  color: black;
  background-image: linear-gradient(to top, #99a5fa 0%, #929be2 1%, #ebe8ec 100%);
}
.p1,
.p3 {
  margin: 1% 35%;
  display: flex;
  align-items: center;
}
.p1 {
  border-radius: 25% 25% 2% 2%;
}
@media (max-width: 500px) {
  .p1 {
    width: 100%;
    border-radius: 2%;
    margin: 2% 0;
  }
}
@media (max-width: 950px) {
  .p1 {
    width: 100%;
    border-radius: 2%;
    margin: 2% 0;
  }
}
.p3 {
  border-radius: 2% 2% 25% 25%;
}
@media (max-width: 500px) {
  .p3 {
    width: 100%;
    border-radius: 2%;
    margin: 2% 0;
  }
}
@media (max-width: 950px) {
  .p3 {
    width: 100%;
    border-radius: 2%;
    margin: 2% 0;
  }
}
.p2a,
.p2b {
  margin: 1% 0.25% 0 0;
  width: 35%;
}
.p2a {
  border-radius: 25% 2%;
  width: 35%;
}
@media (max-width: 500px) {
  .p2a {
    width: 100%;
    border-radius: 2%;
  }
}
@media (max-width: 950px) {
  .p2a {
    width: 100%;
    border-radius: 2%;
  }
}
.p2b {
  border-radius: 2% 25%;
  width: 35%;
}
@media (max-width: 500px) {
  .p2b {
    width: 100%;
    border-radius: 2%;
  }
}
@media (max-width: 950px) {
  .p2b {
    width: 100%;
    border-radius: 2%;
  }
}
.midp {
  display: flex;
  margin: auto 0% 0 25%;
  align-items: center;
}
@media (max-width: 500px) {
  .midp {
    flex-direction: column;
    margin: 2% 0;
  }
}
@media (max-width: 950px) {
  .midp {
    flex-direction: column;
    margin: 0;
  }
}
.dead,
.alive {
  border: 3px outset white;
  padding: 10px;
  border-radius: 30% 2%;
  font-weight: bold;
  position: relative;
}
@media (max-width: 500px) {
  .dead,
  .alive {
    padding: 3px;
    border: 1.5px outset white;
  }
}
.dead {
  background: grey;
  color: black;
}
.dead:hover {
  border: 4px inset white;
  background: black;
}
@media (max-width: 500px) {
  .dead:hover {
    border: 2.5px inset white;
  }
}
.alive {
  background: cadetblue;
  color: blue;
}
.alive:hover {
  border: 4px inset white;
  background: navy;
}
@media (max-width: 500px) {
  .alive:hover {
    border: 2.5px inset white;
  }
}
strong {
  font-weight: bold;
}
header {
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
  overflow: hidden;
  text-shadow: 0 0 15px #ffffff, 0 0 15px #ffffff;
}
header div.celebscroll {
  position: absolute;
  height: 500px;
  width: 4700px;
  background-image: url("/img/celebfloat2.jpg");
  animation: move 150s infinite linear;
  will-change: transform;
  opacity: 0.5;
}
header div.mainhead {
  position: absolute;
  height: 100%;
  background-image: linear-gradient(#4bd1a9, #effde4);
}
header div.header {
  z-index: 99;
  align-items: left;
  width: 400px;
  padding: 25px;
}
header div.header h2 {
  color: #ad15b3;
}
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'), url(https://fonts.gstatic.com/s/alfaslabone/v9/6NUQ8FmMKwSEKjnm5-4v-4Jh2dJhfg.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf) format('truetype');
}
/***Colors***/
/***About***/
#about {
  height: 100%;
  font-family: "Merriweather", sans-serif;
  color: #222;
  font-size: 1.6rem;
  background-image: linear-gradient(to right, #581151 0%, #3a8294 50%, #158a5f 100%);
}
@media (max-width: 500px) {
  #about {
    background-image: linear-gradient(to right, #3bc0f4 0%, #453a94 50%, #5d2b7a 100%);
  }
}
#about header div.teamscroll {
  position: absolute;
  height: 500px;
  width: 4000px;
  background-image: url("/img/teamfloat.jpg");
  animation: move 75s infinite linear;
  will-change: transform;
  opacity: 0.4;
}
#about h3 {
  font-family: "Alfa Slab One", sans-serif;
  color: #651186;
  font-size: 6rem;
  margin: 30px 0 5px 0;
  text-align: center;
}
#about h4 {
  font-family: "Merriweather", sans-serif;
  color: #222;
  font-size: 4rem;
  padding: auto;
  text-align: center;
  margin: 0 0 10px 0;
  letter-spacing: 0.1em;
}
#about .theTeam {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 5% auto;
  padding-bottom: 5%;
  text-shadow: 0 0 30px #000000;
  font-weight: bold;
  flex-wrap: wrap;
}
#about .theTeam img {
  width: 90%;
  border: 5px outset white;
  border-radius: 30% 2%;
}
@media (max-width: 500px) {
  #about .theTeam img {
    width: 50%;
  }
}
@media (max-width: 950px) {
  #about .theTeam img {
    width: 70%;
  }
}
#about .theTeam img:hover {
  border: 7px inset blue;
  animation: spin 2s ease;
}
#about .theTeam h5 {
  font-size: 2em;
}
#about .theTeam h6 {
  font-size: 1.75em;
}
#about .theTeam .ui,
#about .theTeam .reactiia,
#about .theTeam .be {
  color: #8bacf1;
}
@media (max-width: 500px) {
  #about .theTeam .ui,
  #about .theTeam .reactiia,
  #about .theTeam .be {
    color: #85bbee;
  }
}
#about .theTeam .reacti,
#about .theTeam .reactiib {
  color: #4dbe8a;
}
@media (max-width: 500px) {
  #about .theTeam .reacti,
  #about .theTeam .reactiib {
    color: #b641ec;
  }
}
@keyframes move {
  0% {
    transform: translateY(0px) translateX(1000px);
  }
  50% {
    transform: translateY(0px) translateX(-1000px);
  }
  100% {
    transform: translateY(0) translateX(1000px);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#footer {
  margin: 10%;
}
#footer .credit,
#footer .copyright {
  font-size: 2em;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  #footer .credit,
  #footer .copyright {
    font-size: 1em;
  }
}
