//Escaping
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 820px)";
@desktop: ~"(min-width: 821px)";


//Colors
@bg1: @grd1;
@bg2: @grd2;

@grd1: linear-gradient(to right, #581151 0%, #3a8294 50%, #158a5f 100%);
@grd2: linear-gradient(to right, #3bc0f4 0%, #453a94 50%, #5d2b7a 100%);


